<%= javascript_include_tag 'jquery.scale', 'cheezburger' %> 

<a id="cheezburger-anchor" href="" target="_blank">
  <div class="cheezburger">
    <img id="cheezburger-image" src="images/ajax-loader.gif"/>
  </div>
</a>
