<a href="http://www.codesqueeze.com/the-ultimate-top-25-chuck-norris-the-programmer-jokes/" target="_blank">
  <div class="chuck-norris-fact <%= @status %>">
    <h2><%= @chuck_norris_fact %></h2>
  </div>
</a>
