
<script type="text/javascript">
    function blingJenkinsBuildQueue<%= index %>() {
    	var jenkinsQueueURL = '<%= config[:base_url] %>/queue/api/json?jsonp=?';
    	$.getJSON(jenkinsQueueURL, function(json) {
    	    if (json.items.length > 0) {
    		    var html = '<div id="jenkins-queue-container"><ul>'
    	        for (var i = 0; i < json.items.length; ++i) {
    		        var item = json.items[i];
    		        var task = item.task;

    		        html += '<li><a href="' + task.url + '">' + task.name + '</a></li>';
    	        }

                html += '</ul></div>'
    	        $('#main').before(html);

    	        $('#jenkins-queue-container').show();
            }                    
		});
	}

    $(document).ready(function() {
    	blingJenkinsBuildQueue<%= index %>();
    });
</script>