<a href="http://www.codesqueeze.com/the-ultimate-top-25-chuck-norris-the-programmer-jokes/" target="_blank">
  <div class="chuck-norris-fact <%= @status %>">
  	<%- if @skin != 'nightmare' -%>
    <h2>Chuck Norris <%= @chuck_norris_fact %></h2>
    <%- else -%>
    <h2>Chucky <%= @chuck_norris_fact %></h2>
    <%- end -%>
  </div>
</a>
