<div id="cobertura-stats">
    <span><%= config[:title] %></span>
    <div>
        <div id="cobertura-stats-line-rate"></div>
        <div id="cobertura-stats-branch-rate"></div>
    </div>
</div>

<script type="text/javascript">

    function crShowCoverageChart(renderToId, coveredLabel, percentageCovered) {
        return new Highcharts.Chart({
            chart: {
                renderTo: renderToId,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor: '#000000',
                spacingLeft: 0,
                spacingRight: 0,
                spacingTop: 0
            },
            title : {
                text: null
            },
            credits: {
                enabled: false
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        connectorWidth: 0,
                        distance: -1,
                        color: '#FFFFFF',
                        crop: false,
                        connectorColor: '#000000',
                        formatter: function() {
                            return this.point.name +': '+ this.percentage + '%';
                        }
                    }
                },
                series: {
                    animation: false
                }
            },
            series: [{
                type: 'pie',
                data: [
                    {
                      name: coveredLabel,
                      color: '#2BCA5B',
                      y: percentageCovered,
                      sliced: true
                    },
                    {
                      name: 'Bummer',
                      color: '#FF0000',
                      y: (100 - percentageCovered)
                    }
                ]
            }]
        });
    }

    function crShowCoberturaStats() {
    	jQuery.support.cors = true;
    	$.ajax({
		    type: 'GET',
		    url: 'proxy_xml?xml_url=<%= config[:xml_report_url] %>',
		    dataType: 'xml',
		    success: function(xml) {
		    	        $(xml).find('coverage').each(function() {
		    	        	var lineRate   = Math.round($(this).attr('line-rate') * 100);
                            var branchRate = Math.round($(this).attr('branch-rate') * 100);
		    	        	crShowCoverageChart('cobertura-stats-line-rate', 'Line Rate', lineRate);
                            crShowCoverageChart('cobertura-stats-branch-rate', 'Branch Rate', branchRate);
            		    });
		    	    }
        });

    	setTimeout('crShowCoberturaStats()', 15 * 60 * 1000); // Update every 15 minutes
    }

    $(document).ready(function() {
        // Radialize the colors
        Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    	crShowCoberturaStats();
    });
</script>