<div id="weather-clock">
  <div id="weather-clock-date"></div>
  <div id="weather-clock-current"></div>
  <div id="weather-clock-forecast"></div>
</div>

<script type="text/javascript">
    function wcShowDateTime() {
    	var  monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

        var now = new Date();

        var hours = (now.getHours() < 13) ? now.getHours() : now.getHours() - 12;
        if (hours < 10) {
        	hours = '0' + hours;
        }

        var minutes = now.getMinutes();
        if (minutes < 10) {
        	minutes = '0' + minutes;
        }

        var meridiem = (now.getHours() < 12) ? 'AM' : 'PM';

        var date = '';
        date += '<span id="weather-clock-time">' + hours + ':' + minutes + ' ' + meridiem + '</span>';
        date += '<ul>';
        date += '<li>' + dayNames[now.getDay()] + '</li>';
        date += '<li>' + monthNames[now.getMonth()] + ' ' + now.getDate() + '</li>';
        date += '<li>' + now.getFullYear() + '</li>';
        date += '<li>';

        $('#weather-clock-date').html(date);

        setTimeout('wcShowDateTime()', (60 - now.getSeconds()) * 1000);
    }

    function wcShowWeather() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(wcLocationSuccess, wcLocationError);
        } else {
        	console.log('geolocation api not supported by this browser');
        }

        setTimeout('wcShowWeather()', 30 * 60 * 1000); // Update every 30 mins
    }

    function wcWeatherIconPosition(code, night) {
        return "background-position: -" + ((code * 224) + (night * 112)) + "px -4px;";
    }

    function wcWeatherIconSmallPosition(code, night) {
        return "background-position: -" + ((code * 112) + (night * 56)) + "px -2px;";
    }

    function wcLocationError(error) {
    	console.log(error);
    }

    function wcLocationSuccess(position) {
    	var now   = new Date();

	    var tempUnits = '<%= config[:temp_units] == 'f' ? 'f' : 'c' %>';

	    var latitude  = position.coords.latitude;
	    var longitude = position.coords.longitude;

        // BOSS Geo Services
        // http://developer.yahoo.com/boss/geo/docs/free_YQL.html
	    var geosql = 'select * from geo.placefinder where text="LATLONG" and gflags="R"';
        var geoYQL = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(geosql) + '&' + now.getTime() + '&format=json&callback=?';

	    // Forming the query for Yahoo's weather forecasting API with YQL
	    // http://developer.yahoo.com/weather/
	    var wsql = 'select * from weather.forecast where woeid=WID and u="' + tempUnits + '"';
	    var	weatherYQL = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(wsql) + '&' + now.getTime() + '&format=json&callback=?';
	    var city, woeid;

	    $.getJSON(geoYQL.replace('LATLONG', latitude + ',' + longitude), function(r) {
		    if (r.query.count == 1) {
			    city = r.query.results.Result.city;

			    // This is the city identifier for the weather API
			    woeid = r.query.results.Result.woeid;

			    // Make a weather API request (it is JSONP, so CORS is not an issue):
			    $.getJSON(weatherYQL.replace('WID', woeid), function(r) {
				    if (r.query.count == 1) {
                        var astronomy  = r.query.results.channel.astronomy;
                        var atmosphere = r.query.results.channel.atmosphere;
					    var condition  = r.query.results.channel.item.condition;
					    var location   = r.query.results.channel.location;
					    var units      = r.query.results.channel.units;

                        var night = (now.getHours() > 6 && now.getHours() < 18) ? 0 : 1;

					    var current = '';
					    current += '<div class="weather-icon" style="' + wcWeatherIconPosition(condition.code, night) + '; float: left;">' + condition.text + '</div>';
					    current += '<p>' + location.city + '</p>';
					    current += '<p>' + condition.temp + '°' + units.temperature + ' ' + condition.text + '</p>';
					    current += '<table>';
					    current += '<tr>';
					    current += '<th>Humidity:</th><td>' + atmosphere.humidity + '%</td>';
					    current += '</tr>';
					    current += '<tr>';
					    current += '<th>Sunrise:</th><td>' + astronomy.sunrise + '</td>';
					    current += '</tr>';
					    current += '<tr>';
					    current += '<th>Sunset:</th><td>' + astronomy.sunset + '</td>';
					    current += '</tr>';
					    current += '</table>';

					    $('#weather-clock-current').html(current);

                        var forecast = r.query.results.channel.item.forecast;

/*
					    var prediction = '';
					    for (var i = 0 ; i < forecast.length && i < 3; i++) {
						    var f = forecast[i];

                            prediction += '<ul>';
						    prediction += '<li class="day-name">' + f.day + '</li>';
						    prediction += '<li class="weather-icon" style="' + wcWeatherIconPosition(f.code, 0) + '">' + f.text + '</li>';
						    prediction += '<li class="temp-high">' + f.high + '°' + units.temperature + '</li>';
						    prediction += '<li class="temp-low">' + f.low + '°' + units.temperature + '</li>';
						    prediction += '</ul>';
                        }
*/
                        var prediction = '<table>';
                        for (var i = 0 ; i < forecast.length && i < 4; i++) {
                            var f = forecast[i];

                            prediction += '<tr>';
                            prediction += '<td class="day-name">' + f.day + '</td>';
                            prediction += '<td class="weather-icon-small" style="' + wcWeatherIconSmallPosition(f.code, 0) + '">' + f.text + '</td>';
                            prediction += '<td class="temp-high">' + f.high + '°' + units.temperature + '</td>';
                            prediction += '<td class="temp-low">' + f.low + '°' + units.temperature + '</td>';
                            prediction += '</tr>';
                        }
                        prediction += '</table>';

					    $('#weather-clock-forecast').html(prediction);
				    }
				    else {
				    	console.log('Error retrieving weather data!');
				    }
			    });

		    }
	    }).error(function() {
	    	console.log('Your browser does not support CORS requests!');
	    });
    }

    $(document).ready(function() {
    	wcShowDateTime();
        wcShowWeather();
    });
</script>