/* cc_dashboard default styles */

body { margin: 0; padding: 0; background: #000e0e; color: #fff; font: 30px "Trebuchet MS",trebuchet,helvetica,arial,sans-serif; }

a { cursor: pointer; text-decoration: none; }
    a:hover { text-decoration: underline; }

h1 { display: none; }

h2 { margin: 0; padding: 0; font-size: 0.7em; }

p { margin: 0; padding: 0; font-size: 0.5em; }

div { color: #fff; text-align: center; width: 300px; float: left; height: 100px; margin: 0.2em; position: relative; border: 2px solid #c0c0c0; overflow: hidden; }

div.chuck-norris-fact.healthy { background: #2bca5b url(/images/background/chuck-norris/healthy.png) no-repeat bottom center; height: 325px; color: #040302; }
div.chuck-norris-fact.building { background: #ff9933 url(/images/background/chuck-norris/building.png) no-repeat bottom center; height: 325px; color: #000; }
div.chuck-norris-fact.sick { background: #882132 url(/images/background/chuck-norris/sick.png) no-repeat bottom center; height: 325px; color: #fff; }

#pageloaderror { margin: 100px 0 0 0; padding: 0; text-align: center; width: 100%; float: none; }

.Error { background: #882132; color: #fff; }

.Exception.Building { background: #ff9933; color: #fff; }
.Exception.CheckingModifications { background: #440000; color: #fff; }
.Exception.Pending { background: #440000; color: #fff; }
.Exception.Sleeping { background: #440000; color: #fff; }
.Exception.Unknown { background: #440000; color: #fff; }

.Failure.Building { background: #ff9933; color: #fff; }
.Failure.CheckingModifications { background: #882132; color: #fff; }
.Failure.Pending { background: #882132; color: #fff; }
.Failure.Sleeping { background: #882132; color: #fff; }
.Failure.Unknown { background: #882132; color: #fff; }

.Success.Building { background: #ff9933; color: #040302; }
.Success.CheckingModifications { background: #2bca5b; color: #040302; }
.Success.Pending { background: #2bca5b; color: #040302; }
.Success.Sleeping { background: #2bca5b; color: #040302; }
.Success.Unknown { background: #2bca5b; color: #040302; }

.Unknown.Building { background: #ff9933; color: #040302; }
.Unknown.CheckingModifications { background: #707070; color: #040302; }
.Unknown.Pending { background: #707070; color: #040302; }
.Unknown.Sleeping { background: #707070; color: #040302; }
.Unknown.Unknown { background: #707070; color: #040302; }
