# This is a sample cc_dashboard configuration file

# List of cctray-formatted feed URLs. This is a Ruby hash where the key is
# a "group name" (an identifier for) and the value is a URL
DashboardConfig.cctray_feed_urls = {
  'CC.rb' => 'http://cruisecontrolrb.thoughtworks.com/XmlStatusReport.aspx',
  'CC.java' => 'http://cclive.thoughtworks.com/dashboard/cctray.xml',
  'CC.net' => 'http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx',
  'Huson' => 'http://deadlock.netbeans.org/hudson/cc.xml'
}

# If the cctray feeds regularly timeout then you may need to increase the
# default feed timeouts
#DashboardConfig.cctray_feed_open_timeout = 10
#DashboardConfig.cctray_feed_read_timeout = 10

# The number of seconds between browser page reloads
#DashboardConfig.refresh_interval = 60.seconds

# The bling. Currently available blings are 'cheezburger' and 'chucknorris'.
# Nobody stops Chuck Norris from kicking ass!
#DashboardConfig.bling = 'chucknorris'

# The skin. Currently available skins are 'doom', 'hudson', 'iskin', 'kitten',
# 'nightmare', 'smiley', 'spaceinvaders' and 'worldcup'.
#DashboardConfig.skin = 'doom'

# The track. Comment out to disable sounds. Currently available tracks are
# 'aliens', 'itrack', 'nightmare' and 'simpsons'.
DashboardConfig.track = 'simpsons'

# Alarm. You can configure multiple alarms. The format of each alarm is a hash
# with the following keys:
# * sound   - The sound to play when the alarm first starts. See public/audios/alarms
#             for choices, or use 'random' to choose a random alarm sound.
# * message - An optional message to display above the alarm clock
# * start   - Time to start displaying the alarm clock, format is any format supported by chrono. e.g. '09:00:00', 'friday 13:00'
# * stop    - Time to stop displaying the alarm clock, format is any format supported by chrono
# * speak   - An optional text-to-speech message that will be played after the sound.
#
# e.g.
#DashboardConfig.alarm = [
#    {:sound   => 'mission_impossible_theme',
#     :message => 'Daily Standup',
#	  :start    => '08:49:00',
#	  :stop     => '09:01:00',
#     :speak    => 'Time for day lee standup. Make ship happen!'},
#
#    {:message => 'Swap Pairs',
#	 :start    => '11:29:00',
#	 :stop     => '11:31:00'},
#
#	{:message  => 'Retro Retro',
#	 :start    => 'friday 16:14:00',
#	 :stop     => 'friday 16:16:00'}
#]

# Widgets. Display various widgets in the bottom-right corner of the dashboard.
# The available widgets are:
# * weather_clock - based on the browser location display the current time
#                   and weather. Uses the Yahoo! PlaceFinder and weather
#                   forecasting APIs.
#DashboardConfig.widgets = {
#	:weather_clock => {
#	  :temp_units => 'c' # 'c' for celcius or 'f' for farenheit
#  }
#}
