/* 'kitten' skin styles */

body { background: #fff; color: #000; }
body.building { background: url(/images/skins/kitten/background/building.jpg); }
body.healthy { background: url(/images/skins/kitten/background/healthy.jpg); }
body.sick { background: url(/images/skins/kitten/background/sick.jpg); }

.Error { background: #882132; color: #fff; }

.Exception.Building { background: #440000 url(/images/skins/kitten/exception/building.gif) no-repeat center left; color: #fff; }
.Exception.CheckingModifications { background: #440000; color: #fff; }
.Exception.Pending { background: #440000; color: #fff; }
.Exception.Sleeping { background: #440000; color: #fff; }
.Exception.Unknown { background: #440000; color: #fff; }

.Failure.Building { background: #ff9933 url(/images/skins/kitten/failure/building.gif) no-repeat center left; color: #000; }
.Failure.CheckingModifications { background: #882132; color: #fff; }
.Failure.Pending { background: #882132; color: #fff; }
.Failure.Sleeping { background: #882132; color: #fff; }
.Failure.Unknown { background: #882132; color: #fff; }

.Success.Building { background: #dddddd url(/images/skins/kitten/success/building.gif) no-repeat center left; color: #040302; }
.Success.CheckingModifications { background: #2bca5b; color: #040302; }
.Success.Pending { background: #2bca5b; color: #040302; }
.Success.Sleeping { background: #2bca5b; color: #040302; }
.Success.Unknown { background: #2bca5b; color: #040302; }

.Unknown.Building { background: #707070 url(/images/skins/kitten/unknown/building.gif) no-repeat center left; color: #040302; }
.Unknown.CheckingModifications { background: #707070; color: #040302; }
.Unknown.Pending { background: #707070; color: #040302; }
.Unknown.Sleeping { background: #707070; color: #040302; }
.Unknown.Unknown { background: #707070; color: #040302; }
